<div class="top-banner-container">
    <div class="top-banner" >
        <!-- TOP BANNER IMAGE -->
        <img src={{bannerImage}} alt=""  data-bgposition="center top" data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center center">
        <div class="top-banner-caption">{{titleShort}}</div>
    </div>
</div><!-- End slider -->