<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">Home</li>
      <li class="breadcrumb-item" aria-current="page"><a href="../ls/discover-himalayas-with-some-amazing-treks/">Our Treks</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
</nav>  
<h1>{{ title }}</h1>
<p class="lead">{{ shortDescription | safe }}</p>

<hr class="rope">