<div class="row">
    <div class="col-md-9 border-content">
        <!-- Section Header -->
        {%- include 'himalayanProfile/profileSections/sectionTitle.njk' -%}

        <!-- Section Carousel -->
        {%- include 'himalayanProfile/profileSections/sectionCarousel.njk' -%}

        <!-- Section Overview -->
        {%- include 'himalayanProfile/profileSections/sectionOverview.njk' -%}

        <!-- Section Short Itinerary -->
        {%- include 'himalayanProfile/profileSections/sectionShortItinerary.njk' -%}

        <!-- Section Weather -->
        {%- include 'himalayanProfile/profileSections/sectionWeather.njk' -%}
        
        <!-- Section Itinerary -->
        {%- include 'himalayanProfile/profileSections/sectionItinerary.njk' -%}

        <!-- Section Essentials and Exclusion List -->
        {%- include '../../common-sections/sectionEssentialsAndExclusionsList.njk' -%}
    </div><!-- End col-md-9 -->
    
    <!-- Section Side Panel -->
    {%- include 'himalayanProfile/profileSections/sectionSidePanel.njk' -%}
</div><!-- End row -->