<br><br><br>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">List Of Essentials</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Exclusions List</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            {% include '../common-sections/sectionListOfEssentials.njk' %}
            {% include '../common-sections/sectionExclusionsList.njk' %}
        </div>
    </div>

    <br><br><br>
    {%- include '../common-sections/sectionPanelsGroup.njk' -%}
</div>
