<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <ol>
        {%- for item in staticLists.exclusionsList.dataList -%}
            <li>{{ item.value | safe }}</li>
        {%- endfor -%}
    </ol>
    <p><strong>Note :</strong>&nbsp;Normally&nbsp;we&nbsp;expect to carry your personal luggage on your own, if you wish to offload your backpack, you can give it to Mule.&nbsp;<br />Charges of offloading backpack:-&nbsp;<br />INR 1500/- if you make an online payment, 10 days in advance&nbsp;<br />INR 1800/- if you inform us after reaching Sankri&nbsp;<br />The backpack cannot weigh more than 11 kgs. Backpack should have waterproof cover. Suitcases/strolleys/ bags will not be allowed.&nbsp;</p>
</div>