<div class="col-md-12">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                OUR TREKKING CODE?
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                We are mountain lovers and have pledged to bring no harm to them in our pursuit of running organised wilderness travel in the Himalayas and seek your assistance too in this regard. We are more than convinced that one can have more fun on a trip if we go about it in a way that no harm is caused to the ecology. In this regard we have a set of guidelines that we adhere to based on the tenets of ‘Leave No Trace’ & ‘Tread Light’ policies. These guidelines are very simple and emphasise on travelling in small groups, better planning, understanding impact of camping, proper waste disposal, respecting local cultures, sensitivity towards wildlife and so on.
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ACCLIMATISATION & HIGH ALTITUDE SICKNESS?
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                This is one of the most important aspects of travelling in the high Himalayas and cannot be ignored or set aside. Acclimatization basically means our body adjusting to lower levels of oxygen (rarefied air) & reduced air pressure as me move up. In case one does not acclimatise properly there are chances of the person facing extreme discomfort and this can be fatal in extreme cases. While there is no set route to getting properly acclimatised there are a general precautions and steps that one can take to initiate good acclimatisation. Our trekking guides will assist you with these steps and also once you book a trip with us. 
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                SELECTING THE RIGHT TREK & TRAINING FOR IT?
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Most important thing is to select the right trek keeping in mind your experience or inexperience, health, objectives &amp; ability. Our senior team people can assist you with this, so when contacting us do mention if you need guidance on this front also refer to our trek grading system mentioned below. Once the right trek is selected comes your preparation.</p>
                <h3>TREK GRADING SYSTEM</h3>
                <p>We have broadly classified our treks as below:<br /><strong>Easy</strong>&nbsp;These treks are 3 to 5 days long and involve walking for about 3/4 hrs daily. The trail on such treks is well defined but not always flat. These are great for families and first timers</p>
                <p><br /><strong>Moderate</strong>&nbsp;On these treks one is not required to trek for more than 5/6 hrs a day. Also the terrain is not too difficult. These treks are normally a week or so long. For these treks prior trekking experience is not necessary. Very rarely on these treks would one camp at altitudes higher than 3800m. These treks are great for first timers or for veterans wanting to go on a trail which is relatively less demanding</p>
                <p><br /><strong>Moderate+</strong>&nbsp;These are moderate treks with mostly one difficult day. These trails are fine for fit beginners also.<br />Vigorous On these treks one can be required to trek continuously for more than a week through remote areas and at times trekking for more than 7 hrs a day. On most of these treks one has to cross passes or areas which are snow covered and involve camping at altitude of more than 4000m. Fit people with some kind of hiking experience &amp; a spirit of adventure can contemplate going on these trails.</p>
                <p><br /><strong>Strenuous</strong>&nbsp;These treks apart from having continuous trekking stretches are at places technical and might require assistance from trip leader/guide and other staff people. All these treks have rest days in between. Also all of them involve crossing passes or areas having altitude of more than 4500m. First timers are discouraged from walking such routes.</p>
                <p><br /><strong>Expedition</strong>&nbsp;Style These involve long walks at high altitudes at times around 6000m. Camping can also be well over the snow line and on glaciers at times. Safety ropes, ice axes and crampons might be required on these treks. These treks are not technically very difficult but are considerably challenging. Previous vigorous/strenuous trekking experience is required.</p>
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                CANCELLATION POLICY?
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>It is wise to make your booking at least two months in advance. In the event of cancellation of trek/adventure activity services due to any avoidable / unavoidable reasons we must be notified of the same in writing. Cancellation charges will be effective from the date we receive advice in writing, and cancellation charges would be as follows:</p>
                <ul>
                    <li>Up to 30 Days: - 90% of Trek/adventure program cost will be refund.&nbsp;</li>
                    <li>Between 21 &ndash; 30 Days: &ndash; 50% of Trek/Adventure/Tour/Travel/Hotel program cost will be refund.&nbsp;</li>
                    <li>Less than 20 &ndash; Days No refund - See more details</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>