<!DOCTYPE html>
<html lang="en">

<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>{{ metaTitle }}</title>
<meta name="description" content="{{ metaDescription }}">
<meta name="author" content="HIMALAYAN HIKING CLUB">

    <!-- Favicons-->
    <link rel="shortcut icon" href="../../assets/templates/img/favicon.ico" type="image/x-icon"/>

	<!-- CSS -->
	<!-- link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" -->
	<link href="../../assets/templates/css/bootstrap-latest-web.css" rel="stylesheet">

	<!-- Header bar with OUR HIKES, ABOUT US and POPULAR TREKS -->
	<!-- link href="../../assets/templates/css/superfish.css" rel="stylesheet" -->
	<link href="../../assets/templates/css/style.css" rel="stylesheet">
	<!-- Remove fontello and add bootstrap font for fb and instagram icons -->
	<!-- link href="../../assets/templates/fontello/css/fontello.css" rel="stylesheet" -->

	<!-- Netlify Admin page -->
	<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
	{%- include 'himalayanProfile/profileBody.njk' -%}
</html>